{% extends '../layout.njk' %}

{% block head %}
    <title>Create - My class</title>
{% endblock head %}

{% block content %}
    <form action="/teachers" method="POST" class="card">
        <section class="card-image">
            <div class="card-image"></div>
        </section>

        <section class="card-details">
            <h3>Novo Professor</h3>

            {% include 'teachers/fields.njk' %}

        </section>
    </form>
{% endblock content %}