{% extends '../layout.njk' %}

{% block head %}
    <title>Teachers - My class</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="card-image">
            <div class="card-image"></div>
        </section>

        <section class="card-details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome</div>
                <div>{{ teacher.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ teacher.birth }}</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>{{ teacher.degree }}</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>{{ 'À distância' if teacher.classType == 'D' else 'Presencial '}}</div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    {% for service in teacher.services %}
                        {{ service }}
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ teacher.created_at }}</div>
            </div>

            <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>

        </section>
    </div>
{% endblock content %}